* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    padding: 30px 200px;
}

.header {
    display: flex;
    align-items: baseline;
    flex: auto;
    margin-bottom: 60px;
    gap: 10px;
}

.header p {
    margin-right: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    width: 400px;
}

.hero-text button {
    width: 100px;
    height: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.info-container div {
    width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 75px;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: 0 auto;
}

.quote p {
    align-self: flex-end;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.sign-up button {
    height: 40px;
    width: 100px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}