* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    padding: none;
    margin: 0;
}

a {
    color: #e5e7eb;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    gap: 20px;
    padding: 0 340px;
}

.header-logo {
    color: #f9faf8;
    font-weight: 900;
    font-size: 24px;
    margin-right: auto;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 0;
    gap: 40px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: -30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    width: 450px;
}

.hero-text button {
    width: 115px;
    height: 35px;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 15px;
    font-weight: 700;
    background-color: #3882f6;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin-bottom: 60px;
}

.info h1 {
    margin-bottom: 40px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info-container div {
    width: 150px;
}

.info-container img {
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 75px;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 80px 420px;
}

.quote h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
}
.quote p {
    align-self: flex-end;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
    margin: 50px 0;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 50px 350px;
    border-radius: 10px;
}

.sign-up h1 {
    font-size: 22px;
}

.sign-up p {
    margin-top: -14px;
}

.sign-up button {
    height: 30px;
    width: 110px;
    background: none;
    border: solid 2px #f9faf8;
    border-radius: 6px;
    color: #f9faf8;
    font-size: 15px;
    font-weight: 700;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 20px;
}